/* Add any custom styles here if needed */

.bg-gray-100 {
  background-color: #f7fafc;
}

.h-screen {
  height: 100vh;
}

.bg-white {
  background-color: #ffffff;
}

.p-6 {
  padding: 1.5rem;
}

.md\:mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-green-600 {
  color: #38a169;
}

.w-16 {
  width: 4rem;
}

.h-16 {
  height: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.md\:text-2xl {
  font-size: 1.5rem;
}

.text-base {
  font-size: 1rem;
}

.text-gray-900 {
  color: #1a202c;
}

.font-semibold {
  font-weight: 600;
}

.text-gray-600 {
  color: #718096;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.bg-indigo-600 {
  background-color: #4c51bf;
}

.hover\:bg-indigo-500:hover {
  background-color: #5a67d8;
}

.text-white {
  color: #ffffff;
}

.font-semibold {
  font-weight: 600;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
